<form ng-init="init()">
    <div class="form-group">
        <label for="exampleInputPassword1">Model</label>
        <textarea class="form-control" placeholder="Enter model" ng-model="models.modelName"></textarea>
    </div>
    <button ng-click="submit()" type="submit" class="btn btn-primary">Submit</button>
    <a style="margin-left: 20px" ng-click="goBack(models)" class="card-link text-primary hover">Go back</a>
    <a ng-if="isEdit" ng-click="deleteModels(models.modelsId)" class="card-link text-danger hover">Delete</a>
</form>