<div ng-init="init()" class="card card bg-dark text-white">
    <img class="card-img-top"
        src="https://image-cdn.beforward.jp/files/pictures/201309/154664/BF159828_1.jpg">
    <div class="card-body preview-card">
        <h5 class="card-title">{{ models.modelsId }}</h5>
        <p class="card-text">{{ models.modelName }}</p>
        <a ng-click="deleteModels(models.modelsId)" class="card-link text-danger hover">Delete</a>
        <a ng-click="modifyModels(models.modelsId)" class="card-link text-info hover">Modify</a>
        <a ng-click="goBack(models)" class="card-link text-primary hover">Go back</a>
    </div>
</div>